*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(175, 134, 134, 0.662745098);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
  }
  header h1 {
    font-size: 50px;
  }
  header .logo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  header nav {
    font-size: 24px;
    display: flex;
    gap: 0.3125rem;
    flex-wrap: wrap;
  }
  header nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  header nav ul li a {
    text-decoration: none;
    font-size: 24px;
  }
  header nav ul li a:hover {
    color: rgb(228, 232, 236);
  }
  
  .destiny_container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }
  
  @media (width <= 1280px) {
    * {
      width: -moz-fit-content;
      width: fit-content;
    }
    header {
      width: 100%;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      align-items: center;
    }
    header nav {
      display: flex;
    }
  }

  @media (max-width: 500px) {
    .destiny_container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: auto;
    }

  }