main{
    .destiny_container{
        background-color: $color_principal;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        margin: auto;

        .destiniy_card{
            max-height: 1000px;
        }
    }
}