main{
    .container_info{
        padding: 10px 50px;

        .container_info h2{
            text-align: center;
        }

        .container_info p{
            text-align: center;
            padding: 7px;
        }
    }
}