@media (width <= 1276px) {
    *{
        width: fit-content;
    }

    header{
        width: 100%;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;

        nav{
            display: flex;
        }
    }

    main{
        .tittle_0{
            .welcome{
                padding-left: 100px;
            }

            .tittle_p{
                padding-left: 100px;
            }
        
        }

        .container{
            .tittle{
                .tittle_h2{
                    padding-left: 100px;
                }
            }
        }
    }
        .recom_card_container{
            display: grid;
            grid-template-columns: 1fr;
            flex-direction: column;
            width: 100%;
            max-width: 900px;
            gap: 16px;

            .recom_card{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                max-width: 550px;
                margin-left: 45px

                figure {
                    width: 100%;
                }

                .recom_card_text{
                    display: flex;
                    gap: .75rem;
                    justify-content: center;
                    align-items: center;
                }
            }
        }


        .card_travel_container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        }

@media (width < 1280px), (width > 1000px) {
    main{
        .recom_card_container{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: 45px
        }
    }
}
