@media (width <= 1276px) {
    *{
        width: fit-content;
    }

    header{
        width: 100%;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;

        nav{
            display: flex;
        }
    }

    main{
        .tittle_0{
            .welcome{
                padding-left: 100px;
            }

            .tittle_p{
                padding-left: 100px;
            }
        
        }

        .container{
            .tittle{
                .tittle_h2{
                    padding-left: 100px;
                }
            }
        }
    }
}